html{
  background-color:black;
}
canvas{
  position:fixed;
  top:0;
  left:0;
}
body{
  margin: 0;
  padding:0;
}
nav{  /*nav area and css*/
  position: fixed;
  width:100%;
  z-index: 5;
  overflow: hidden;
  background-color: #101010;
  font-family:"Montserrat", serif;
}
/* Links inside the navbar */
nav a {
  float: left;
  font-size: 16px;
  color:#ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Add a blue background color to navbar links on hover */
nav a:hover{
  background-color: #212121;
}