html{
  background-color:black;
}
canvas{
  position:fixed;
  top:0;
  left:0;
}
nav{  /*nav area and css*/
  position: fixed;
  width:100%;
  z-index: 5;
  overflow: hidden;
  background-color: #c3d3e9;
  font-family:"Montserrat", serif;
}
/* Links inside the navbar */
nav a {
  float: left;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Add a blue background color to navbar links on hover */
nav a:hover, .dropdown:hover .dropbtn, .contact:hover {
  background-color: #597491;
  border-radius: 3px;
  border-left-width:5px;
}
.contact{
  width:35px;
  height:35px;
  }
.menubtn{ /* menu button */
    width: 35px;
    height: auto;
}
  
.floatright{
  float: right; /* Class to float my elements to the right*/
}